<header>
  <mat-toolbar style="background-color: rgb(74, 74, 74);" class="example-toolbar">
    <span>&nbsp;&nbsp;<img src="../assets/logos/soil.png" height="50px" width="50px">&nbsp;&nbsp;&nbsp;</span>
    <span>
      <h1 class="example-app-name" style="color: white;">SISHMA</h1>
    </span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</header>
<section>
  <div class="bg">
    <router-outlet></router-outlet>
  </div>
</section>
<footer style="background-color: rgb(74, 74, 74);; color: white;">
  <div class="container-fluid">
    <br><br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <div class="row">
          <div class="col-6 container-fluid">
            <h3>Support</h3>
            <hr style="border: 1px solid white;">
          </div>
          <div class="col-6 container-fluid">
            <h3>About Us</h3>
            <hr style="border: 1px solid white;">
          </div>
        </div>
        <br>
        <div class="col-12">
        </div>
        <hr style="border: 1px solid white;">
        <br>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</footer>